.RightWatchContainer {
  // background: #e8e8e8;
  // margin: 10px 0;
  // border:1px solid;
  padding-top: 10px;
  // padding-left: 10px;
  width: 100%;
  min-height: 100vh;
  // box-shadow: 0px 12px 6px -10px rgba(0, 0, 0, 0.2) inset;
  :hover {
    color: #000;
  }
  .container {
    // width:50%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-bottom: 10px;
    // padding-left: 5px;
    border: 1px solid #fff;
    // box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.6) inset;

    .thumbnail {
      position: relative;
      float: left;
      cursor: pointer;
      // margin-right: 8px;

      width: 50%;
      height: auto;
      // margin-right: 5px;
      // border: 1px solid;
    }

    .skeleton {
      width: 49%;
      float: left;

      flex-direction: column;
      // border: 1px solid;

      &__txt1 {
        -webkit-line-clamp: 2; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden;
        padding: 0 5px;
        margin-bottom: 5px;
        font-size: 20px;
        color: #000;
        width: calc(100% - 50px);
        // white-space: nowrap;
        // text-overflow: ellipsis;
      }

      &__txt2 {
        // margin: 0 5px;
        padding: 0 5px;

        font-size: 15px;
        color: #333;
      }
      p {
        margin-bottom: 0;
        text-decoration: none;
        // text-decoration-color: red;
      }
    }
  }
  .container:hover {
    // border: 1px solid rgb(224, 224, 224);
    box-shadow: -5px 0px 4px -3px rgba(0, 0, 0, 0.19) inset;
    transition: 0.2s ease-in;
  }
}

.Like {
  // border: 1px solid;
  width: auto;
  float: left;
  cursor: pointer;
  margin: 0 10px 0 10px;

  .text {
    float: right;
    background: #fbbc05;
    padding: 0 40px 0 1px;
    margin: 0 0 0 5px;
  }
}

.Dislike {
  // border: 1px solid;
  width: auto;
  float: left;
  cursor: pointer;
  margin: 0 10px 0 10px;

  .text {
    float: right;
    background: #fbbc05;
    padding: 0 40px 0 1px;
    margin: 0 0 0 5px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1017px) {
    .RightWatchContainer {
      .container {
        .thumbnail {
            width: 100%;
        }
        .skeleton {
            width: 100%;
        }
      }
    }
  }

@media screen and (max-width: 1016px) {
  .RightWatchContainer {
    .container {
      max-width: 100%;
    }
  }
}
