.RightWatchContent {
  background: #efefef;
}

.PreloaderRightWatchContainer {
  // margin: 10px 0;
//   border:1px solid ;
  padding-bottom: 8px;
  padding-left: 10px;
  margin-top: 10px;
//   min-height: 100vh;
  width: 100%;

  .wrapper {
    display: flex;
    // flex-direction: row;
    // border-bottom: 1px solid;
    height: 140px;

    .thumbnail {
        position: relative;
        cursor: pointer;
        margin-right: 8px;
        width: 250px;
        background: linear-gradient(315deg, #f7d849, #5840aa);
        background-size: 400% 400%;
        animation: AnimationName 4s ease infinite;
    
        @-webkit-keyframes AnimationName {
          0% {
            background-position: 1% 0%;
          }
          50% {
            background-position: 99% 100%;
          }
          100% {
            background-position: 1% 0%;
          }
        }
        @-moz-keyframes AnimationName {
          0% {
            background-position: 1% 0%;
          }
          50% {
            background-position: 99% 100%;
          }
          100% {
            background-position: 1% 0%;
          }
        }
        @keyframes AnimationName {
          0% {
            background-position: 1% 0%;
          }
          50% {
            background-position: 99% 100%;
          }
          100% {
            background-position: 1% 0%;
          }
        }
    
      }

  .skeleton {
    display: flex;
    flex-direction: column;
    width: 50%;

    &__txt1 {
      margin: 10px 5px;
      width: 70%;
      height: 10px;
      border-radius: 4px;
      margin-bottom: 20px;
      background: linear-gradient(265deg, #ead883, #a48fe8);
      background-size: 400% 400%;

      animation: AnimationName 4s ease infinite;
      @keyframes AnimationName {
        0% {
          background-position: 0% 51%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 51%;
        }
      }
    }
  
    &__txt2 {
      margin: 0 5px;
      border-radius: 4px;
      height: 10px;
      width: 40%;
      background: linear-gradient(265deg, #ead883, #a48fe8);
      background-size: 400% 400%;
      animation: AnimationName 4s ease infinite;

      @keyframes AnimationName {
        0% {
          background-position: 0% 51%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 51%;
        }
      }
    }
  }
  }
}

// .RWC{
//     width: 30px;
//     height: 30px;
// }
